h2  {
    color: sienna
}
body    {
    background-color: blanchedalmond;
}
h3  {
    color: sienna; 
    font-weight: bold;
}
p   {
    background-color: white; 
    color: sienna; font-weight: bold; 
    border: 0cqmax;
}